.gsp-container {
    spacing: 4px;

    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.gsp-graph-area {
    background-color: #1e1e1e;
    border-radius: 2px;
    border: 1px solid #575757;
    height: 96px;
    width: 8px;

    grid-color: #575757;

    cpu-color: rgb(0,190,240);
    cpu-total-color: rgb(0,154,62);
    cpu-user-color: rgb(69,154,0);
    cpu-sys-color: rgb(255,253,81);
    cpu-iowait-color: rgb(210,148,0);

    mem-user-color: rgb(210,148,0);
    mem-cached-color: rgb(90,90,40);
    mem-other-color: rgb(205,203,41);

    mem-used-color: rgb(0,190,240);
    mem-used-warn-color: rgb(240,190,0);
    mem-used-bad-color: rgb(240,85,0);

    swap-used-color: rgb(0,190,240);
    swap-used-warn-color: rgb(240,190,0);
    swap-used-bad-color: rgb(240,85,0);

    network-in-color: rgb(0,190,240);
    network-out-color: rgb(242,0,124);
}

.gsp-graph-overlay .label {
    color: white;
    font-size: 0.67em;
    text-align: left;
}

.gsp-indicator {
    background-color: #1e1e1e;
    border-radius: 2px;
    height: 28px;
    width: 8px;

    grid-color: #575757;

    cpu-color: rgb(0,190,240);
    cpu-total-color: rgb(0,154,62);
    cpu-user-color: rgb(69,154,0);
    cpu-sys-color: rgb(255,253,81);
    cpu-iowait-color: rgb(210,148,0);

    mem-user-color: rgb(210,148,0);
    mem-cached-color: rgb(90,90,40);
    mem-other-color: rgb(205,203,41);
    mem-used-color: rgb(0,190,240);
    mem-used-warn-color: rgb(240,190,0);
    mem-used-bad-color: rgb(240,85,0);

    swap-used-color: rgb(0,190,240);
    swap-used-warn-color: rgb(240,190,0);
    swap-used-bad-color: rgb(240,85,0);

    network-ok-color: rgb(0,190,240);
    network-warn-color: rgb(240,190,0);
    network-bad-color: rgb(240,85,0);
}

.gsp-dropdown {
    border-radius: 7px;
    border: 2px solid rgba(64,64,64,0.6);
    padding: 12px 12px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    -y-offset: 8px;
    font-size: 9pt;
    font-weight: bold;
    /* height: 264px; */
    width: 384px;
}

.gsp-dropdown .description_label {
  text-align: left;
  width: 256px;
}

.gsp-dropdown .value_label {
  text-align: right;
  width: 128px;
}

.gsp-dropdown .title_label {
  padding-top: 8px;
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
}

.gsp-dropdown .graph {
  height: 128px;
}
